@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@400;700&display=swap");

$color_1: #1d2027;
$color_2: #4a5366;
$color_3: #323844;
$color_4: #a91fb3;
$color_5: #dc27e9;
$color_6: white;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;
$desktop: 700px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color_1;
  font-family: $font1;
  display: flex;
  flex-direction: row;
  padding: 2.5em;
  overflow-y: hidden;
  height: 100vh;
}

nav {
  background-color: black;
  flex: 0 0 20%;
  color: $color_6;
  display: grid;
  padding: $padding;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 100px 0 0 20px;

  .photo {
    border-radius: 50%;
    background-color: $color_6;
    width: 80px;
    height: 80px;
    margin: 1em auto 1em auto;
  }

  h2 {
    text-align: center;
    margin: 1em 0 1em 0;
  }

  ul {
    padding: 0;
    margin: 1em 0 1em 0;
  }

  li {
    list-style: none;
    display: block;
    line-height: 6vh;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $color_6;
  }
}

.library {
  background-color: $color_6;
  flex: 0 0 80%;
  padding: $padding;
  border-radius: 0 25px 25px 0;

  .cta {
    display: flex;
    justify-content: space-between;

    [type="search"] {
      border-radius: 15px;
      border: 1px solid grey;
      height: 4vh;
      width: 25vw;
      text-indent: 1em;
      outline: none;
      align-self: center;
    }

    #cta-btn {
      background-color: black;
      display: inline;
      padding: 1em 2em 1em 2em;
      color: $color_6;
      cursor: pointer;
    }
  }

  .add-book {
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: flex-start;
    grid-template-columns: repeat(2, 1fr);
    h1 {
      font-size: 2.5vw;
    }

    #book-btn {
      height: 50px;
      cursor: pointer;
      align-self: center;
      margin: 1em;
    }
  }

  #current-num {
    transform: translateY(-1em);
  }

  .book-container {
    margin: 0 auto 0 auto;
    width: auto;
    height: 40vh;
    border: 0.7px solid rgb(138, 138, 138);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: scroll;
    padding: $padding/2 $padding/2 0 $padding/2;

    .book-component {
      background-color: #f8efee;
      border-radius: 10%;
      text-align: center;
      width: 25%;
      height: 75%;
      margin: 1em;

      .exit {
        cursor: pointer;
        max-width: 100%;
        position: relative;
        height: 25px;
        margin: 20px 0 0 0;
      }

      h3 {
        font-weight: bold;
        margin: 0;
      }

      h4 {
        color: rgb(80, 80, 80);
        font-weight: normal;
      }

      h5 {
        display: inline;
        margin: 0 1em 0 1em;
        font-weight: normal;
      }
    }
  }
}
