@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

$color_1: #1d2027;
$color_2: #4a5366;
$color_3: #323844;
$color_4: #a91fb3;
$color_5: #dc27e9;
$color_6: white;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;
$desktop: 700px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color-1;
  color: $color_6;
  font-family: $font1;
  width: 100vw;
}

.library {
  width: 80vw;
  height: 80vh;
  margin: 0 auto 0 auto;
  h2 {
    text-align: center;
  }
}
