@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

$color_1: #1d2027;
$color_2: #363c49;
$color_3: #323844;
$color_4: #a91fb3;
$color_5: #dc27e9;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;
$desktop: 700px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
  font-family: $font1;
  color: white;
}

header {
  background-color: $color_2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  padding: 1em;
  height: 80vh;
  width: 80vw;
  border-radius: 5%;

  h1 {
    font-size: 9.708vw;
    align-self: center;
  }

  h2 {
    text-align: center;
    font-family: $font2;
    font-size: 6vw;
    align-self: center;
  }

  #try-btn {
    text-align: center;
    align-self: center;
    margin: 0.5em;
    background-color: red;
    padding: 0.6em 2em 0.6em 2em;
    border-radius: 5%;
  }

  #code-btn {
    text-align: center;
    align-self: center;
    margin: 0.5em;
    padding: 0.6em 2em 0.6em 2em;
    border: solid 1px red;
  }
}

footer {
  display: grid;
  justify-items: center;
  position: absolute;
  height: 10vh;
  width: 100vw;
  background-color: $color_1;
  left: 0;
  bottom: 0;
  ul li {
    list-style: none;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: white;
    margin: 0 5vw 0 0;
    font-size: 4vw;
  }
  #rluo {
    font-size: 6.4721vw;
  }
}
