@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

$color_1: #1d2027;
$color_2: #4a5366;
$color_3: #323844;
$color_4: #a91fb3;
$color_5: #dc27e9;
$color_6: white;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;
$desktop: 700px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color_1;
  font-family: $font1;
  display: flex;
  flex-direction: row;
  padding: 2.5em;
  overflow-y: hidden;
  height: 100vh;

  img {
    position: absolute;
    height: auto;
    max-width: 55%;
    border-radius: 10% 0 0 0;
  }
}

#wave {
  animation-name: wave-in;
  animation-duration: 1s;
}

@keyframes wave-in {
  0% {
    transform: translateX(-50em);
    opacity: 0.5;
  }
}

header {
  color: white;
  border-radius: 10% 0 0 10%;
  flex: 0 0 75%;
  display: grid;
  background-color: $color_3;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: $padding;

  h1 {
    z-index: 1;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0;
    justify-self: flex-start;
    font-size: 2.2vw;
    animation-name: h1;
    animation-duration: 1s;
    a {
      color: $color_1;
      text-decoration: none;
    }
  }

  @keyframes h1 {
    0% {
      transform: translateY(50em);
      opacity: 0;
    }
  }

  .cover {
    border-radius: 25px;
    position: relative;
    transition: transform 1s;
  }

  .slide-in {
    animation-name: cover;
    animation-duration: 3s;
  }

  @keyframes cover {
    0% {
      opacity: 0;
    }
  }

  h2 {
    z-index: 1;
    margin: 0;
    font-size: 4vw;
    grid-row: 3/2;
    grid-column: 2/4;
  }

  #try-btn {
    z-index: 1;
    align-self: center;
    justify-self: flex-start;
    grid-row: 3/3;
    grid-column: 2/2;
    padding: 10px 45px 10px 45px;
    border: 1px solid $color_6;
    margin: 0 0 2em 0;
    text-decoration: none;
    color: $color_6;
  }

  #try-btn:hover {
    background-color: $color_2;
    cursor: pointer;
  }

  #learn-btn {
    z-index: 1;
    align-self: center;
    justify-self: flex-start;
    padding: 10px 22px 10px 22px;
    grid-row: 3/3;
    grid-column: 3/3;
    border: 1px solid $color_6;
    margin: 0 0 2em 0;
    text-decoration: none;
    color: $color_6;
  }

  #learn-btn:hover {
    background-color: $color_2;
    cursor: pointer;
  }
}

nav {
  //   border-radius: 0 10% 10% 0;
  flex: 0 0 25%;
  background-color: $color_6;
  display: grid;
  //   grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 1fr);
  padding: $padding;

  i {
    justify-self: flex-end;
    margin: 0 4em 0 0;
  }

  i:hover {
    cursor: pointer;
  }

  ul {
    grid-row: 2/2;
    justify-self: flex-end;
    line-height: 5.5vh;
    text-align: right;
    margin: 0 2em 0 0;
  }

  ul li {
    list-style: none;
  }

  a {
    background: linear-gradient(to bottom, $color_2 0%, $color_1 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 2px;
    color: #000;
    text-decoration: none;
    transition: background-size 0.55s;
  }

  a:hover {
    background-size: 4px 50px;
    color: $color_6;
  }
}

.hide-0 {
  animation-name: hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hide-1 {
  animation-name: hide-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes hide-1 {
  100% {
    opacity: 0%;
    transform: translateY(25em);
  }
}

@keyframes hidden {
  100% {
    background-color: $color_3;
    border-radius: 0 10% 10% 0;
  }
}

.vis-1 {
  animation-name: vis-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.vis-0 {
  animation-name: vis;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes vis {
  0% {
    background-color: $color_6;
    border-radius: 0 10% 10% 0;
  }
  100% {
    background-color: $color_6;
    border-radius: 0;
  }
}

@keyframes vis-1 {
  0% {
    opacity: 0%;
    transform: translateY(-50em);
  }
  100% {
    opacity: 100%;
  }
}

.blur {
  opacity: 0;
  transform: translateY(-100em);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.about {
  opacity: 0;
  transform: translateY(-100em);
  display: grid;
  position: absolute;
  background-color: $color_6;
  width: 40vw;
  height: 40vh;
  left: 50%;
  top: 50%;
  margin: -20vh 0 0 -20vw;
  z-index: 3;
  padding: $padding/2;
  display: grid;
  grid-template-rows: 1/3fr 2/3fr;
  grid-template-columns: 3/4fr 1/4fr;
  border-radius: 10px;

  h2 {
    grid-column: 1/3;
    margin: 0;
    align-self: flex-start;
  }

  img {
    height: auto;
    max-width: 25px;
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-end;
    align-self: flex-start;
    margin: 5px;
  }

  p {
    grid-column: 1/3;
  }
}

.visibility {
  animation-name: visibility;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes visibility {
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
